@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: none;
  width: 0;
}

body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #151515;
  color: white;
}
body > div:not(#separator-1) {
  margin: 50px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  background: linear-gradient(90deg, rgba(0, 203, 169, 0.1882352941), #00cba9, #0099ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 100;
}

h1 {
  font-size: 10vw;
}

h3 {
  font-size: 7vw;
}

h4 {
  font-size: 3vw;
}

main {
  position: relative;
  min-height: 100vh;
}
main header .custom-select {
  position: absolute;
  width: 200px;
  top: 10px;
  right: 20px;
}
main header .custom-select img {
  height: 20px;
}
main header .custom-select .select-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 16px;
}
main header .custom-select .select-selected {
  background-color: #151515;
  border: 1px solid #ccc;
}
main header .custom-select .select-selected img {
  margin-right: 20px;
}
main header .custom-select .select-selected,
main header .custom-select .select-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
main header .custom-select .select-items {
  position: absolute;
  background-color: #151515;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  z-index: 99;
}
main header .custom-select .select-items .select-item:hover {
  background-color: rgba(243, 243, 243, 0.1882352941);
}
main header .custom-select .select-hide {
  display: none;
}
main header ul {
  display: flex;
  justify-content: center;
  list-style: none;
  height: 60px;
}
main header ul li {
  display: flex;
  align-items: center;
  border-radius: 10px;
}
main header ul li a {
  text-decoration: none;
  color: #00cba9;
  font-weight: 100;
  padding: 10px 20px;
  font-size: 2vw;
}
main header ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
main .social {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  width: 100%;
}
main .social a {
  color: white;
  font-size: 35pt;
  z-index: 3;
}
main .social a i {
  opacity: 0.3;
  font-size: 30pt;
}
main .social a i:hover {
  opacity: 1;
  font-size: 32pt;
  transition: all 500ms 0s;
}
main .decor svg {
  position: absolute;
  bottom: 0;
}

.separator1 {
  background-color: #0099ff;
  display: flex;
  justify-content: center;
}
.separator1 div ul {
  padding: 20px;
}
.separator1 div ul ::first-letter {
  text-transform: uppercase;
}
.separator1 img {
  height: 400px;
  filter: grayscale(0.7);
}

.textDiv {
  padding: 10px 50px;
  text-align: justify;
  max-height: 300px;
  overflow: hidden;
}
.textDiv .timeline {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  overflow: auto;
}
.textDiv .timeline .border-gradient {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 2px;
  height: 100vh;
  background: linear-gradient(90deg, rgba(0, 203, 169, 0.1882352941), #00cba9, #0099ff);
}
.textDiv .timeline .year-marker {
  position: relative;
}
.textDiv .timeline .year-marker .nota {
  position: absolute;
  display: block;
  left: 50px;
  width: 400px;
  border: 1px solid #00cba9;
  padding: 20px;
  border-radius: 20px;
}
.textDiv .timeline .year-marker .nota ul {
  list-style-type: none;
}
.textDiv .timeline .year-marker .nota ul li {
  position: relative;
  padding-left: 20px;
}
.textDiv .timeline .year-marker .nota ul li::before {
  content: "-";
  position: absolute;
  left: 0;
}
.textDiv .timeline .year-marker::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: rotate(90deg);
  height: 20px;
  width: 2px;
  background-color: #00cba9;
}
.textDiv .timeline .year-marker::after {
  content: attr(data-year);
  position: absolute;
  top: -10px;
  left: 0;
  transform: translateX(-50px);
  font-size: 12px;
  color: #fff;
}

.typewriter {
  width: max-content;
  height: max-content;
  min-height: 50px;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  border-right: 7px solid;
  padding-right: 20px;
  animation: blink 1s ease-in infinite;
}

.idiomas {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.idiomas h4 {
  position: relative;
  /* bottom: -40px; */
  font-weight: 400;
}
.idiomas > span {
  position: relative;
  width: 50vw;
  height: 20px;
  margin: 15px auto;
  float: left;
  font-size: 8pt;
}
.idiomas > span .percentage {
  background: linear-gradient(90deg, rgba(0, 203, 169, 0.1882352941), #00cba9, #0099ff);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5px;
}

.proyectos {
  padding: 10px 50px;
  display: flex;
  flex-direction: column;
}
.proyectos .proy-div {
  height: max-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.proyectos .proy-div > div {
  display: block;
  position: relative;
  width: 300px;
  height: 200px;
  margin: 10px;
  border-radius: 20px;
  overflow: hidden;
  font-size: x-large;
}
.proyectos .proy-div > div .proy,
.proyectos .proy-div > div .oculta {
  position: absolute;
  width: 100%;
  min-height: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
}
.proyectos .proy-div > div .proy {
  opacity: 0.7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.proyectos .proy-div > div .oculta {
  opacity: 0;
}

#subir {
  font-size: 20pt;
  padding: 5px 10px;
  border: 1px solid #00cba9;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(0, 203, 169, 0.1882352941), #00cba9, #0099ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: fixed;
  right: 15px;
  bottom: 15px;
}

#subir:hover {
  cursor: pointer;
  background: #00cba9;
  color: #151515;
}

#subir .bi {
  font-weight: bold;
  font-size: 24px;
}

@keyframes blink {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    padding: 50px;
  }
  #typewriter {
    max-width: 400px;
  }
}

/*# sourceMappingURL=styles.css.map */
